<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8 centered-text">
        <h2 class="home-header">Welcome to our Twitter!</h2>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4 centered-text">
        <h3>Login</h3>
        <p class="text-primary">
            If you have account, you can access our site.
        </p>
        <p>
            <a class="btn btn-info" href="#/login"
               role="button">Login &raquo;</a>
        </p>
    </div>
    <div class="col-md-4 centered-text">
        <h3>Sign Up</h3>
        <p class="text-primary">
            Create new user who can access the site.
        </p>
        <p>
            <a class="btn btn-info" href="#/signup"
               role="button">Sign Up &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>