<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul class="tweets-list" ng-hide="true">
        <li class="li-tweet" ng-repeat="tweet in (totalFoundUserTweets = (foundUserTweets | filter: query))">
    </ul>
    Following: <a ng-click="showUserFollowings()">{{followingCount}}</a>
    Followed By: <a ng-click="showUserFollowedBy()">{{followedByCount}}</a>
    <button type="submit" ng-click="followUser()">Follow</button>
    <ul class="tweets-list">
        <li class="li-tweet"><h4>{{foundUser}}'s tweets</h4></li>
        <hr class="your-tweets-hr" />
        <li class="li-tweet" ng-show="totalFoundUserTweets.length == 0"><h4>{{foundUser}} has no tweets yet!</h4></li>
        <li class="li-tweet" ng-repeat="tweet in (foundUserCurrentTweets = (foundUserTweets | filter: query | limitTo:feedLimit))">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="tweet-title">{{tweet.Title}}</h6>
                    <h6 class="created-at">Created at: {{tweet.CreateAt}}</h6>
                </div>
                <div class="panel-body">{{tweet.Comment}}</div>
            </div>
        </li>
        <li class="li-tweet">
            <button ng-hide="foundUserCurrentTweets.length == totalFoundUserTweets.length" type="button" class="btn btn-default" ng-click="showMore()">Show more tweets</button>
        </li>
    </ul>

</body>
</html>
